openapi: 3.1.0
info:
  title: Huntington Bank Treasury Management Accounts Transactions API
  description: The Huntington Bank Treasury Management API is part of Huntington's Treasury Management Connectivity Ecosystem, an API-first platform that enables businesses to unify banking, ERP, and financial tools. Built on Apigee X, the platform supports over 500 interfaces and processes more than 10 million transaction events daily, providing real-time visibility into treasury operations, automated payment processing, and seamless integration with enterprise systems.
  version: '1.0'
  contact:
    name: Huntington Bank Developer Support
    url: https://hnbdevportal.huntington.com/
servers:
- url: https://api.huntington.com/v1
  description: Production
security:
- oauth2: []
tags:
- name: Transactions
  description: Transaction reporting and history
paths:
  /accounts/{accountId}/transactions:
    get:
      operationId: getTransactions
      summary: Get account transactions
      description: Retrieves transaction history for a specific account with optional date range filtering.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: The unique account identifier
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
components:
  schemas:
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
        amount:
          type: number
        type:
          type: string
        balance:
          type: number
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.huntington.com/oauth/token
          scopes:
            accounts:read: Read account data
            transactions:read: Read transactions
            payments:write: Initiate payments
externalDocs:
  description: Huntington Bank Developer Portal
  url: https://hnbdevportal.huntington.com/
